html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFCF9;
}

/* home page css */
.frontName{
  padding-top: 2%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

/* typed-out descriptions css */
.allContainer{
  text-align: center;
}

.container{
  display: inline-block;
}

.typed-out{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	-webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #247BA0;
  overflow: hidden;
  border-right: 1.75px solid #247BA0;
  white-space: nowrap;
  animation: typing 4.5s steps(50, 
  end) forwards;
  font-size: 40px;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* side nav bar css */
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #247BA0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 9px 9px 9px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #247BA0;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
}

.sideNav a:hover {
  color: #ffffff;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

.menuBtn{
  -webkit-text-stroke-width: 1.9px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 30px;
  cursor:pointer;
  color: transparent;
  font-family: 'Barlow', sans-serif;
  text-align: right;
  padding-right: 5%;
}

.menuBtn:hover{
  text-decoration: underline;
  text-decoration-color: #247BA0;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}

/* bouncing image css */
.image{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.myPic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: transparent;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: 10;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 80px, 0); }
}

/* bouncing image animation */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

/* about us page css */
.aboutTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.aboutParagraph{
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 250%;
  padding-left: 8%;
  padding-right: 8%;
}

.interestsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
}

.interestsList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #9c89b8;
	font-size: 250%;
  list-style-position: inside;
  padding-left: 8%;
}

.interestsImage{
  right: 6%;
  position: absolute;
  width: 550px;
  height: 350px;
  border-radius: 7%;
  border: 8px solid #9c89b8;
}

.favsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  padding-top: 5%;
}

.favsList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #247BA0;
	font-size: 250%;
  list-style-position: inside;
  padding-right: 8%;
  text-align: right;
}

.favsImage{
  position: absolute;
  left: 6%;
  width: 550px;
  height: 350px;
  border-radius: 7%;
  border: 8px solid #247BA0;
}

.currentTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
  padding-left: 8%;
  clear: left;
  padding-top: 5%;
}

.currentList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #9c89b8;
	font-size: 250%;
  margin-left: 6%;
  list-style-position: inside;
  padding-bottom: 6%;
}

.allCurrent{
  text-align: left;
}

/*.aboutImages {
  --b: 8px;  /* border thickness*/
 /* --s: 60px; /* size of the corner*/
 /* --g: 14px; /* the gap*/
  /*--c: #EDC951; 
  
  padding: calc(var(--b) + var(--g));
  background-image:
    conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
  background-position:
    var(--_p,0%) var(--_p,0%),
    calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i,.3s));
}

.aboutImages:hover {
  background-size: calc(100% - var(--g)) calc(100% - var(--g));
  --_p: calc(var(--g)/2);
  --_i: 0s;
} */

/* projects page css */
.projectsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

/* first three projects css */
.firstGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
}

.gStem{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.gStemTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}

.getHelp{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}

.getHelpTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}

.eduGap{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #247BA0;
}

.eduGapTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

/* second three projects css */
.secondGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

.woman{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.womanTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

.aiBias{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #5FB5C2;
}

.aiBiasTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}

.petSmarter{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}

.petSmarterTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}


/* third three projects css */
/*.thirdGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

.diverseTech{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}


.diverseTechTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}

.designYourWorld{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #247BA0;
}

.designYourWorldTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

.wordPhrases{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #5FB5C2;
}

.wordPhrasesTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}*/

.gStemAlign{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-left: 2%;
}

.gStemMainTitle{
  display: flex;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

.gStemParagraph{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.gStemRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.gStemFounder{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemDeveloper{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.gStemRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.gStemSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.gStemHtml{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemCss{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemJs{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemData{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemFigma{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.gStemImage{
  height: 800px;
  width: 1420px;
}

.gStemAlignImage{
  display: flex;
  justify-content: center;
}

.gStemProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.quad { 
  font-family: Avenir, sans-serif; margin: 0; 
  background-color: #121;
}

div#quad {  
  font-size: 0; width: 60%; 
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

div#quad figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}

div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: auto;}
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; margin-bottom: 10%;}
div#quad figure:nth-child(4) { transform-origin: bottom right; margin-bottom: 10%;}
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
	transition: 1s 1s opacity; 
}

.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }

/* code for are you there */

.thereAlign{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-left: 2%;
}

.thereTitle{
  display: flex;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
  padding-left: 8%;
}

.thereParagraph{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.thereRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.thereFounder{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.thereDeveloper{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.thereRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.thereSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.thereHtml{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.thereCss{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.thereJs{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.thereFigma{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.thereImage{
  height: 800px;
  width: 1420px;
}

.thereAlignImage{
  display: flex;
  justify-content: center;
}

.thereProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.thereSlideAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.thereSlideTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #9c89b8;
  border-radius: 50px;
}

.thereSlideAlign2{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.thereSlideTitle2{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #9c89b8;
  border-radius: 50px;
}

/* code for education gap */

.eduGapAlign{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-left: 2%;
}

.eduGapMainTitle{
  display: flex;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.eduGapParagraph{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.eduGapRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.eduGapRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.eduGapFounder{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapData{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.eduGapSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.eduGapStudio{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapSites{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapSheets{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.eduGapImage{
  height: 800px;
  width: 1420px;
}

.eduGapAlignImage{
  display: flex;
  justify-content: center;
}

.eduGapProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.eduGapSlideAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.eduGapSlideTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-right: 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  background: #247BA0;
  border-radius: 50px;
}

.eduGapSlide2Align{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.eduGapSlide2Title{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-right: 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  background: #247BA0;
  border-radius: 50px;
}

/* code for as a woman page */

.womanAlign{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-left: 2%;
}

.woman1Title{
  display: flex;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.womanParagraph{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.womanRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.womanFounder{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.womanDeveloper{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.womanRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.womanSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.womanHtml{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.womanJs{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.womanCamera{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.womanVideo{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.womanImage{
  height: 800px;
  width: 1480px;
}

.womanAlignImage{
  display: flex;
  justify-content: center;
}

.womanProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.womanSlideAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.womanProcessContent{
  height: 550px;
  width: 760px;
}

.womanSlideTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #247BA0;
  border-radius: 50px;
}

.womanSlide2Align{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.womanSlide2Title{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #247BA0;
  border-radius: 50px;
}

/* code for pet smarter page */ 

.petAlign{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-left: 2%;
}

.petTitle{
  display: flex;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
  padding-left: 8%;
}

.petParagraph{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.petRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.petLead{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.petDeveloper{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.petCreator{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.petRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.petSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.petWix{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.petProcreate{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.petMedia{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 5%;
}

.petInstallationTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.petImage{
  height: 750px;
  width: 1140px;
}

.petCaption{
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 200%;
  font-weight: 500;
  text-align: center;
}


.petAlignImage{
  display: flex;
  justify-content: center;
}

.petProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: center;
}

.petSlideAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.petProcessContent{
  height: 495px;
  width: 750px;
}

.petSlideTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #9c89b8;
  border-radius: 50px;
}

.petSlide2Align{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.petSlide2Title{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #FFFCF9;
  text-align: center;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #9c89b8;
  border-radius: 50px;
}

/* code for today i page */
.todayTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

.group1{
  display: flex;
  justify-content: space-evenly;
}

.group2{
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.group3{
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.group4{
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}

.todaySubTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}

.todayContainer {
  position: relative;
}

.todayImage {
  display: block;
  width: 270px;
  height: 250px;
  border-radius: 7%;
  border: 7px solid #5FB5C2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 250px;
  border-radius: 7%;
  border: 7px solid #5FB5C2;
  opacity: 0;
  transition: .5s ease;
  background-color: #5FB5C2;
}

.todayContainer:hover .overlay {
  opacity: 1;
}

.todayWords {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.todayTitle2{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.todaySubImagesAlign{
  display: flex;
  justify-content: center;
}

.todaySubImages{
  width: 490px;
  height: 400px;
  border: 7px solid #5FB5C2;
}

.todayText{
  font-family: 'Barlow', sans-serif;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  line-height: 35px;
  color: #5FB5C2;
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

/* code for name and identity page */
.nameTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
  padding-left: 8%;
}


.identityTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.jarunun{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 65px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #9c89b8;
}

.jarununMeaning{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 32px;
  font-weight: 500;
}

.jasmine{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 65px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #9c89b8;
}

.jasmineMeaning{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 32px;
  font-weight: 500;
}

.wongphatarakul{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 65px;
	-webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #9c89b8;
}

.wongphatarakulMeaning{
  padding-left: 8%;
  font-family: 'Barlow', sans-serif;
  color: #9c89b8;
	font-size: 32px;
  font-weight: 500;
}

[slide-in-from] {
  opacity: 0;
  transform: translateY(var(--translateY,0)) translateX(var(--translateX, 0));
  animation: slideInFrom var(--sif-duration, 800ms) var(--sif-timing, ease-out) var(--sif-delay, 0ms) forwards;
}

[slide-in-from $= "left"] {--translateX: -100% }

@keyframes slideInFrom{ 
  to {transform: unset; opacity: unset}
}