html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFCF9;
}

/* home page css */
.frontName{
  padding-top: 2%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

/* typed-out descriptions css */
.allContainer{
  text-align: center;
}

.container{
  display: inline-block;
}

.typed-out{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	-webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #247BA0;
  overflow: hidden;
  border-right: 1.75px solid #247BA0;
  white-space: nowrap;
  animation: typing 4.5s steps(50, 
  end) forwards;
  font-size: 40px;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* side nav bar css */
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #247BA0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 9px 9px 9px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #247BA0;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
}

.sideNav a:hover {
  color: #ffffff;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

.menuBtn{
  -webkit-text-stroke-width: 1.9px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 30px;
  cursor:pointer;
  color: transparent;
  font-family: 'Barlow', sans-serif;
  text-align: right;
  padding-right: 5%;
}

.menuBtn:hover{
  text-decoration: underline;
  text-decoration-color: #247BA0;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}

/* bouncing image css */
.image{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.myPic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: transparent;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: 10;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 80px, 0); }
}

/* bouncing image animation */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}

/* about us page css */
.aboutTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.aboutParagraph{
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 250%;
  padding-left: 8%;
  padding-right: 8%;
}

.interestsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
}

.interestsList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #9c89b8;
	font-size: 250%;
  list-style-position: inside;
  padding-left: 8%;
}

.interestsImage{
  top: 59%;
  right: 8%;
  position: absolute;
  width: 550px;
  height: 350px;
  border-radius: 7%;
  border: 8px solid #9c89b8;
}

.favsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
}

.favsList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #247BA0;
	font-size: 250%;
  list-style-position: inside;
  padding-right: 8%;
  text-align: right;
}

.favsImage{
  top: 112%;
  left: 8%;
  position: absolute;
  width: 550px;
  height: 350px;
  border-radius: 7%;
  background-color: #247BA0;
}

.currentTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #9c89b8;
  text-align: left;
  padding-left: 8%;
  clear: left;
}

.currentList{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  color: #9c89b8;
	font-size: 250%;
  margin-left: 6%;
  list-style-position: inside;
  padding-bottom: 6%;
}

.allCurrent{
  text-align: left;
}

/*.aboutImages {
  --b: 8px;  /* border thickness*/
 /* --s: 60px; /* size of the corner*/
 /* --g: 14px; /* the gap*/
  /*--c: #EDC951; 
  
  padding: calc(var(--b) + var(--g));
  background-image:
    conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
  background-position:
    var(--_p,0%) var(--_p,0%),
    calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i,.3s));
}

.aboutImages:hover {
  background-size: calc(100% - var(--g)) calc(100% - var(--g));
  --_p: calc(var(--g)/2);
  --_i: 0s;
} */

/* projects page css */
.projectsTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

/* first three projects css */
.firstGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
}

.gStem{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.gStemTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}

.getHelp{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}

.getHelpTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}

.eduGap{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #247BA0;
}

.eduGapTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

/* second three projects css */
.secondGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

.petEd{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #247BA0;
}

.petEdTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

.aiBias{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #5FB5C2;
}

.aiBiasTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}

.codeSwitch{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}

.codeSwitchTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}


/* third three projects css */
/*.thirdGroup{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Barlow', sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

.diverseTech{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #9c89b8;
}


.diverseTechTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9c89b8;
  font-size: 40px;
  text-align: center;
}

.designYourWorld{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #247BA0;
}

.designYourWorldTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #247BA0;
  font-size: 40px;
  text-align: center;
}

.wordPhrases{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #5FB5C2;
}

.wordPhrasesTitle{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5FB5C2;
  font-size: 40px;
  text-align: center;
}*/

.gStemMainTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

.gStemParagraph{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.gStemRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.gStemFounder{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemDeveloper{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.gStemRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.gStemSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.gStemHtml{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemCss{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemJs{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemData{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.gStemFigma{
  font-family: 'Barlow', sans-serif;
  color: #5FB5C2;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.gStemImage{
  height: 550px;
  width: 1100px;
}

.gStemAlignImage{
  display: flex;
  justify-content: center;
}

.gStemProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: center;
}

.gStemToast{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

.gStemBranding{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #5FB5C2;
  text-align: left;
  padding-left: 8%;
}

/* code for educational gap */

.eduGapMainTitle{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: left;
  padding-left: 8%;
}

.eduGapParagraph{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 200%;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 5%;
}

.eduGapRoleSkills{
  display: flex;
  justify-content: space-evenly;
}

.eduGapRole{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.eduGapFounder{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapData{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.eduGapSkills{
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 80px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.eduGapStudio{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapSites{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.eduGapSheets{
  font-family: 'Barlow', sans-serif;
  color: #247BA0;
	font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 25%;
}

.eduGapImage{
  height: 550px;
  width: 1160px;
}

.eduGapAlignImage{
  display: flex;
  justify-content: center;
}

.eduGapProcess{
  padding-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: transparent;
	font-size: 100px;
	-webkit-text-stroke-width: 3.3px;
  -webkit-text-stroke-color: #247BA0;
  text-align: center;
}

.quad { 
  font-family: Avenir, sans-serif; margin: 0; 
  background-color: #121;
}

div#quad {  
  font-size: 0; width: 60%; 
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

div#quad figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}

div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: auto;}
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; margin-bottom: 10%;}
div#quad figure:nth-child(4) { transform-origin: bottom right; margin-bottom: 10%;}
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
	transition: 1s 1s opacity; 
}

.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }